table {
    width: 85%;
    border: 1px solid black;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

ul {
    list-style-type: none;
    align-items: center;
}

li {
    background: transparent;
    text-decoration: none;
    width: 100%;
    border: none;
    margin-bottom: 0px;
    font-size: 15px;
    /* padding: 4px 0px 4px 25px; */
    height: 33px;
    transition: 0.4s all;
}

li button {
    text-decoration: none;
    color: #333;
}
